In [119]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [120]:
df = pd.read_csv("D:\\ML-DataSets\\train.csv", usecols=['Age', 'Fare', 'Embarked', 'Survived'])

In [121]:
df.head(
)

   Survived   Age     Fare Embarked
0         0  22.0   7.2500        S
1         1  38.0  71.2833        C
2         1  26.0   7.9250        S
3         1  35.0  53.1000        S
4         0  35.0   8.0500        S

In [122]:
df.isnull().mean()*100

Survived     0.000000
Age         19.865320
Fare         0.000000
Embarked     0.224467
dtype: float64

In [123]:
df.dropna(inplace=True)

In [124]:
x = df.drop(columns=['Survived'])

In [125]:
y = df['Survived']

In [126]:
from sklearn.compose import ColumnTransformer

In [127]:
si = SimpleImputer(strategy = 'most_frequent')

In [128]:
x = si.fit_transform(x)

In [129]:
x

array([[22.0, 7.25, 'S'],
       [38.0, 71.2833, 'C'],
       [26.0, 7.925, 'S'],
       ...,
       [19.0, 30.0, 'S'],
       [26.0, 30.0, 'C'],
       [32.0, 7.75, 'Q']], dtype=object)

In [130]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

In [131]:
x = ohe.fit_transform(x)

In [132]:
x

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [133]:
from sklearn.metrics import accuracy_score

In [134]:
np.mean(cross_val_score(DecisionTreeClassifier(), x, y, cv=10, scoring='accuracy'))

np.float64(0.6446596244131456)